<?xml version="1.0" encoding="UTF-8" ?>
<!--
# Copyright 2021 - Manuel Calero <https://xtendoo.es>
# Copyright 2021 - Daniel Domínguez <https://xtendoo.es>
# License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl).
-->
<odoo>
    <menuitem
        id="main_menu_lims"
        name="LIMS"
        web_icon="lims,static/description/icon.png"
    />
    <menuitem
        id="cat_menu_lims_product"
        name="Products"
        parent="main_menu_lims"
        sequence="0"
        action="action_product_product_sample"
        groups="base.group_system"
    />
    <menuitem
        id="cat_menu_lims_lab"
        name="Laboratories"
        parent="main_menu_lims"
        sequence="0"
        action="action_contacts_lab"
        groups="base.group_system"
    />
    <menuitem
        id="cat_menu_lims_config"
        name="Configuration"
        parent="main_menu_lims"
        sequence="50"
    />
    <menuitem
        id="cat_menu_lims_config_organizing"
        name="Organizing"
        parent="cat_menu_lims_config"
        sequence="5"
    />

<!--    <record id="action_product_product_sample" model="ir.actions.act_window">-->
<!--        <field name="name">General Settings</field>-->
<!--        <field name="type">ir.actions.act_window</field>-->
<!--        <field name="res_model">res.config.settings</field>-->
<!--        <field name="view_mode">form</field>-->
<!--        <field name="target">inline</field>-->
<!--        <field name="context">{'module' : 'lims'}</field>-->
<!--    </record>-->

    <!--    <menuitem-->
<!--        id="cat_menu_lims_config_system"-->
<!--        name="System"-->
<!--        groups="lims.group_lims_manager"-->
<!--        parent="cat_menu_lims_config"-->
<!--        sequence="25"-->
<!--    />-->
</odoo>
